<div class="row">
  <div class="col">
    <div class="logo">
      <img src="C:\Users\yakshaangular85\Desktop\Udit Srivastava-Fitness tracker case study-xoriant\logo.jpg" width="50" height="60">
    </div>
  </div>
  <div class="col">
    <h1>Fitness Application</h1>
  </div>
</div>
<hr>

<div class="navbar">
  <button class="btn btn-primary" (click)="landingpage()">Home</button><br>
  <button class="btn btn-primary" (click)="placeAppointment()">Place Appointment</button><br>
  <button class="btn btn-primary" (click)="viewAppointment()">View Appointment</button><br>
  <button class="btn btn-primary" (click)="contactUspage()">Contact Us</button>
</div>

<hr>

<div class="row">
  <div class="col-sm-3">
    <div class="sidebar">
      <button class="btn btn-primary btn-lg btn-block" (click)="landingpage()">Home</button><br>
      <button class="btn btn-primary btn-lg btn-block" (click)="placeAppointment()">Place Appointment</button><br>
      <button class="btn btn-primary btn-lg btn-block" (click)="viewAppointment()">View Appointment</button><br>
      <button class="btn btn-primary btn-lg btn-block" (click)="contactUspage()">Contact Us</button>
    </div>
  </div>
  <div class="col-sm-9">
    <router-outlet></router-outlet>
  </div>
</div> 