<style>
.introtext{
    border: 1px solid blue;
    padding: 10px;
    margin: 2px;
}
.button {
    text-align: center;
    align-items: center;
}
</style>
<div class="introtext">
    <h1 style="text-align: center;">Intro text</h1>
    <h3 style="text-align: justify;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h3>
</div>
<br>
<div class="button">
    <button class="btn btn-primary btn-lg btn-block" (click)="navpage()">Apply For Trainer</button>
</div>